@import 'base/normalize';
@import 'base/variables';

div.flexbox {
  display: flex;

  &.vis-holder {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

@import 'components/navigation';
@import 'components/main';
@import 'components/word-cloud';
@import 'components/news-time-series';