@import 'base/normalize';
@import 'base/variables';

div.flexbox {
  display: flex;

  &.vis-holder {
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 3px #333;
    margin: 15px;

    svg {
      margin: 20px 10px;
    }
  }
}

@import 'components/navigation';
@import 'components/vis-title';
@import 'components/main';
@import 'components/word-cloud';
@import 'components/news-time-series';