div.vis-options {
  p.checkbutton {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
    user-select: none;

    &.freixo {
      border: 3px solid $twist-freixo;
      color: #444;

      &.active {
        background: $twist-freixo;
      }
      &:hover {
        background: darken($twist-freixo, 15%);
      }
    }

    &.crivella {
      border: 3px solid $twist-crivella;
      color: #444;

      &.active {
        background: $twist-crivella;
        color: #fff;
      }
      &:hover {
        background: darken($twist-crivella, 15%);
      }
    }
  }
}