text.word {
  text-transform: uppercase;
  font-family: monospace;
}

h2 {
  color: #333;
  font-size: 22px;
}

div.vis-options {
  display: flex;
  justify-content: center;

  p.button {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background: #aaa;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    font-weight: bold;

    &:hover, &.active {
      background: darken(#aaa, 15%);
    }
  }
}
